.category{
    margin: 100px 200px;

    .top{
     text-align: center;
      margin-bottom: 50px;
  
      h1{
        font-size: 48px;
        font-weight: 500;
        text-transform: capitalize;
        margin: 10px;      }
  
    }
  
    .bottom {
      display: grid;
      grid-template-columns: repeat(4, 1fr); 
      gap: 20px; 
    }
    
    .card {
      width: 100%;
      max-width: 100%; 
    }
    
    @media screen and (max-width: 1200px) {
      .bottom {
        grid-template-columns: repeat(4, 1fr); 
      }
    }
    
    @media screen and (max-width: 992px) {
      .bottom {
        grid-template-columns: repeat(3, 1fr); 
      }
    }
    
    @media screen and (max-width: 768px) {
      .bottom {
        grid-template-columns: repeat(2, 1fr); 
      }
    }
    
    @media screen and (max-width: 576px) {
      .bottom {
        grid-template-columns: 1fr; 
      }
    }
    
  }